﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="/lib/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/lib/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/dist//css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/lib/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/lib/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/lib/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/lib/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/lib/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/dist//css/adminlte.min.css">
    <!--css custom-->
    <link href="~/lib/css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        /* mini reset */
        .nav,
        .nav a,
        .nav ul,
        .nav li,
        .nav div,
        .nav form,
        .nav input {
            border: none;
            margin: 0;
            outline: none;
            padding: 0;
        }

            .nav a {
                text-decoration: none;
            }

            .nav li {
                list-style: none;
            }

        /* menu container */
        .nav,
        input {
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        .nav {
            cursor: default;
            display: inline-block;
            position: relative;
            z-index: 500;
        }

            /* menu list */
            .nav > li {
                display: block;
                float: left;
            }

                /* menu links */
                .nav > li > a {
                    display: block;
                    color: #fcfcfc;
                    font-weight: bold;
                    height: 54px;
                    line-height: 54px;
                    padding: 0 20px;
                    position: relative;
                    text-shadow: 0 0 1px rgba(0,0,0,.35);
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    z-index: 510;
                }

                .nav > li:hover > a {
                    background: #00549A;
                }

                .nav > li:first-child > a {
                    border-left: none;
                    border-radius: 3px 0 0 3px;
                }

                /* search form */
                .nav > li.nav-search > form {
                    border-left: 1px solid #00549A;
                    height: 54px;
                    position: relative;
                    width: inherit;
                    z-index: 510;
                }

                .nav > li.nav-search input[type="text"] {
                    background: #372f2b;
                    color: #999;
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    float: left;
                    height: 24px;
                    line-height: 24px;
                    padding: 15px 0;
                    text-shadow: 0 0 1px rgba(0,0,0,.35);
                    -webkit-transition: all .3s ease 1s;
                    transition: all .3s ease 1s;
                    width: 1px;
                }

                    .nav > li.nav-search input[type="text"]:focus {
                        color: #fcfcfc;
                    }

                    .nav > li.nav-search input[type="text"]:focus,
                    .nav > li.nav-search:hover input[type="text"] {
                        padding: 15px 20px;
                        -webkit-transition: all .3s ease .1s;
                        transition: all .3s ease .1s;
                        width: 110px;
                    }

                .nav > li.nav-search input[type="submit"] {
                    background: #372f2b url(../img/search-icon.png) no-repeat center center;
                    border-radius: 0 3px 3px 0;
                    cursor: pointer;
                    display: block;
                    float: left;
                    height: 54px;
                    padding: 0 25px;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    width: 20px;
                }

                    .nav > li.nav-search input[type="submit"]:hover {
                        background-color: #00549A;
                    }

                /* menu dropdown */
                .nav > li > div {
                    border-radius: 0 0 3px 3px;
                    position: absolute;
                    display: block;
                    background: #003778;
                    left: -8px;
                    opacity: 0;
                    overflow: hidden;
                    top: 48px;
                    -webkit-transition: all .3s ease .15s;
                    transition: all .3s ease .15s;
                    visibility: hidden;
                    width: 101%;
                }

                .nav > li:hover > div {
                    opacity: 1;
                    overflow: visible;
                    visibility: visible;
                }

            /* menu content styles */
            .nav .nav-column {
                float: left;
                width: 12%;
            }

                .nav .nav-column h3 {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 18px;
                    margin: 20px 0 10px 0;
                }

                    .nav .nav-column h3.orange {
                        color: #ff722b;
                    }

                .nav .nav-column li a {
                    color: #888;
                    display: block;
                    font-weight: bold;
                    line-height: 26px;
                }

                    .nav .nav-column li a:hover {
                        color: #00549A;
                    }

        .w3-sidebar {
            height: 100%;
            width: 250px;
            background-color: #F2F2F2;
            position: fixed !important;
            z-index: 1;
            margin-top: 810px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background: #00549A; z-index: 10000;margin-left: 0px;">
            <!-- Left navbar links -->
            <ul class="navbar-nav nav" style="width:100%">
                <li class="nav-item">
                    <a class="nav-link" onclick="w3_open()" data-slide="true" href="#" role="button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <img src="~/lib/Bell_logo.svg" alt="AdminLTE Logo" class="brand-image elevation-3" style="padding-top:10px">
                </li>
                <li class="nav-item" style="width:10%">
                    <a href="#" class="nav-link">DM RTC</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Suivi Provincial</a>
                    <div>
                        <div class="nav-column" style="width: 10%;padding-left: 10px;">
                            <h3><a href="#" style="color:#ffffff">Suvi Provincial</a></h3>
                        </div>
                        <div class="nav-column" style="width:10%">
                            <h3><a href="#" style="color:#ffffff">Module TPJ</a></h3>
                        </div>
                        <div class="nav-column">
                            <h3><a href="#" style="color:#ffffff">Module Tendance</a></h3>
                        </div>
                        <div class="nav-column" style="width: 15%;">
                            <h3><a href="#" style="color:#ffffff">Requestes additionnelles</a></h3>
                        </div>
                        <div class="nav-column">
                            <h3><a href="#" style="color:#ffffff;text-decoration-line: underline;">Progression volumn</a></h3>
                        </div>
                        <div class="nav-column">
                            <h3><a href="#" style="color:#ffffff">Presvision DD+14</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
                <button onclick="w3_close()" class="w3-bar-item w3-large">&times;</button>
                <a href="#" class="w3-bar-item w3-button">Link 1</a>
                <a href="#" class="w3-bar-item w3-button">Link 2</a>
                <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
        </nav>
        @RenderBody()
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/lib/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lib/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/lib/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/lib/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/lib/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/lib/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/lib/plugins/moment/moment.min.js"></script>
    <script src="~/lib/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/lib/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/dist//js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/dist//js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/lib/dist//js/pages/dashboard.js"></script>
    <script src="~/lib/dist//js/adminlte.min.js"></script>

    <script src="~/lib/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/lib/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/lib/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/lib/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/lib/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/dist//js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/dist//js/demo.js"></script>
    <!--thư viện biểu đồ-->
    <script src="~/lib/dist//js/canvasjs.min.js"></script>
    <script src="~/lib/plotly-2.9.0.min.js"></script>
    <!--js custom-->
    <script src="~/lib/home.js"></script>
    <script>
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
    </script>
</body>
</html>
